<h1>Past Orders</h1>

<%# if @orders.flatten != [] %>
    <ul>
        <%# @orders.flatten.each do |listing| %>
            <li><%# link_to listing.book.title, listing_path(listing) %></li>
        <%# end %>
    </ul>
<%# end %>